.py-5 {
    padding-bottom: 3rem !important;
}
.dropdown-menu-end[data-bs-popper] {
	right: auto/* rtl:ignore */;
}
.dropdown-menu {
	background-color: rgba(33,37,41, 0.8);
}
.dropdown-item {
	color: #dbdbdb
}
.text-white-50 {
	color: #ffffffcc !important;
	background-color: #0000006e;
	font-family: NSimSun;
}
.text-white {
	font-family: NSimSun;
}
.dropdown-menu[data-bs-popper] {
    top: 113%;
}
.dropdown-item.active, .dropdown-item:active {
	color: #1e2125;
    text-decoration: none;
    background-color: #e9ecef;
}
.col-xl-4 {
    flex: 0 0 auto;
    width: 100%;
}
.py-lg-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.mt-xl-5 {
    margin-top: 0rem !important;
}
.d-flex {
    display: flex;
    flex-direction: column;
}
.text-left {
	line-height: 3rem;
	 font-size: 1.3rem;
}
.text-center {
    font-size: 1.7rem;
    padding: 0px 10px;
    border: 5px dashed #79706d;
	margin-bottom: 10px
}
a { 
    color: #ffae1b;
	text-decoration: auto;
}
a:hover { 
    color: #877224;
}
.text-muted {
    color: #6c757d !important;
    font-size: 18px;
}
.fw-bolder {
	font-size: 3rem;
}
.col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 0px 50px;
}
.fs-5 {
    font-size: 1.25rem !important;
    line-height: 2.5rem;
}
.mt-5 {
    margin-top: 2rem !important;
	margin-bottom: 1rem;
}
.mb-5 {
    margin-bottom: 2rem !important;
    border-radius: 2%;
    padding: 1rem;
    background-color: #fffdf7a6;
}
.p-4 {
    padding: 0rem !important;
}
.card {
	background-color: #fff0;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    background-color: #fffcf291;
    height: min-content;
    border-radius: 5%;
    border: 10px double #665b53b5;
    padding: 0rem 1rem;
}
.mb-3 {
    margin-bottom: 1rem !important;
    border-radius: 2%;
    padding: 0rem; 
	background-color: #fffdf700;
}
.mb-4 {
	margin-bottom: 1rem !important;
}