.dropdown-menu-end[data-bs-popper] {
	right: auto/* rtl:ignore */;
}
.dropdown-menu {
	background-color: rgba(33,37,41, 0.8);
}
.dropdown-item {
	color: #dbdbdb
}
.text-white-50 {
	color: #ffffffcc !important;
	background-color: #0000006e;
	font-family: NSimSun;
}
.text-white {
	font-family: NSimSun;
}
.dropdown-menu[data-bs-popper] {
    top: 113%;
}
.fst-italic { 
    font-style: inherit !important;
}
.fw-bolder {
    border: 7px solid #fff0;
}
.text-muted {
    color: #58493b !important;
    background-color: #ffffff80;
    border: 10px solid #ffffff00;
	line-height: 1.8em;
}
.px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    border: 10px double #fff;
}
.dropdown-item.active, .dropdown-item:active {
	color: #1e2125;
    text-decoration: none;
    background-color: #e9ecef;
}