.dropdown-menu-end[data-bs-popper] {
	right: auto/* rtl:ignore */;
}
.dropdown-menu {
	background-color: rgba(33,37,41, 0.8);
}
.dropdown-item {
	color: #dbdbdb
}
.text-white-50 {
	color: #ffffffcc !important;
	background-color: #0000006e;
	font-family: NSimSun;
}
.text-white {
	font-family: NSimSun;
}
.dropdown-menu[data-bs-popper] {
    top: 113%;
}
.accordion-item:last-of-type .accordion-collapse {
	font-size: 18px;
	line-height: 35px;
}
.py-lg-5 {
	padding-top: 1.5rem !important;
	padding-bottom: 0rem !important;
} 
.lead {
	font-size: 1.5rem;
}
.accordion-body {
    border: 5px double #d1d0b6;
}
h1, .h1 {
    color: #fff;
}
.text-muted {
   color: #fff;
}   