.dropdown-menu-end[data-bs-popper] {
	right: auto/* rtl:ignore */;
}
.dropdown-menu {
	background-color: rgba(33,37,41, 0.8);
}
.dropdown-item {
	color: #dbdbdb
}
.text-white-50 {
	color: #ffffffcc !important;
	background-color: #0000006e;
	font-family: NSimSun;
}
.text-white {
	font-family: NSimSun;
}
.dropdown-menu[data-bs-popper] {
    top: 113%;
}
.py-5 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.row {
    display: flex;
	justify-content: space-around;
}
.rounded-circle {
	border-radius: 20% !important;
}
.px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    border: 10px double #fff;
}
.fst-italic { 
    font-style: inherit !important;
}
.pd-5 {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
a { 
    color: #ffae1b;
}
a:hover { 
    color: #43c159;
}

	