.py-5 {
    padding-bottom: 14rem !importan;
}
.dropdown-menu-end[data-bs-popper] {
	right: auto/* rtl:ignore */;
}
.dropdown-menu {
	background-color: rgba(33,37,41, 0.8);
}
.dropdown-item {
	color: #dbdbdb
}